

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    {
        @Html.AntiForgeryToken()
        @*<ul class="navbar">*@
        @*comment :// this will Signin and have your username on the top left of the signin page :p*@
       
        <li class="pull-right">@Html.ActionLink("Sign Out", "Logout", "FundRaisers") </li>
        <li class="pull-right">@Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Home")</li>
        <li class="pull-right">@Html.ActionLink("My Profile", "MyProfile", "FundRaisers") </li>
        <li class="pull-right">@Html.ActionLink("My Campaigns", "Index", "Campaigns") </li>
        @*</ul>*@
    }
}
else
{
    @*<ul class="home">*@
    <li class="pull-right">@Html.ActionLink("Sign Up", "Create", "FundRaisers")</li>
    <li class="pull-right">@Html.ActionLink("Sign In", "SignIn", "FundRaisers")</li>
        @*</ul>*@
}