@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
  
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
       
        @*comment :// this will Signin and have your username on the top left of the signin page :p*@
        <li>@Html.ActionLink( HttpContext.Current.User.Identity.GetUserName() + "index" ,"Home" )</li>
          <li> @Html.ActionLink("Sign Out", "Logout", "FundRaisers") </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign Up", "Create", "FundRaisers")</li>
        <li>@Html.ActionLink("Log In", "SignIn", "FundRaisers")</li>

    </ul>
}
