

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    {
        @Html.AntiForgeryToken()
        @*<ul class="navbar">*@
        @*comment :// this will Signin and have your username on the top left of the signin page :p*@



        <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown">@Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Home")</button>
            
            <span class="caret" ></span>
              
            
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="dropdown-list">@Html.ActionLink("My Profile", "MyProfile", "FundRaisers") </li>
                                                <li class="dropdown-list">@Html.ActionLink("My Campaigns", "Index", "Campaigns") </li>
                                                <li class="dropdown-list">@Html.ActionLink("Sign Out", "Logout", "FundRaisers") </li>
                                                @*<li class="dropdown-list"><a  tabindex="-1" class="dropdown-anchor" href="/FundRaisers/MyProfile.cshtml">My Profile</a></li>
                                                    <li class="dropdown-list"><a  tabindex="-1" class="dropdown-anchor" href="~/Views/Campaigns/Index.cshtml">My Campaigns</a></li>
                                                    <li class="dropdown-list" ><a  tabindex="-1" class="dropdown-anchor" href="~/Views/Shared/Lockout.cshtml">Sign Out</a></li>*@
                                            </ul>
                                </div>


        @*<li class="pull-right">@Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Home")</li>
        <li class="pull-right">@Html.ActionLink("My Profile", "MyProfile", "FundRaisers") </li>
        <li class="pull-right">@Html.ActionLink("My Campaigns", "Index", "Campaigns") </li>
        <li class="pull-right">@Html.ActionLink("Sign Out", "Logout", "FundRaisers") </li>*@

    }
}
else
{
    @*<ul class="home">*@
    <li class="pull-right">@Html.ActionLink("Sign In", "SignIn", "FundRaisers")</li>
    <li class="pull-right">@Html.ActionLink("Sign Up", "Create", "FundRaisers")</li>
   
        @*</ul>*@
}