@model FuNDs.Models.FundRaisers

<div class="row">
    <div class="col-md-4">
        <img src="@Html.DisplayFor(model => model.Image)" class="img-thumbnail" height="200px" width="200px">
        <br />
        @Html.ActionLink("Edit Profile", "EditProfile", "Account", new { @class = "btn btn-default" })
        <hr />
        <h4 style="font-family:Verdana; font-size:larger" class="label label-success">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
        <div id="clist">
        </div>
        <dl class="form-horizontal">

    <!--end of profile info-->

    <div class="col-md-4">
        @*<p style="text-align:center;padding-left:150px"><span class="label label-success">Planner for @Model.FirstName @Model.LastName</span></p>*@
        <div id='calendar'></div>
    </div>
</div>