@model FuNDs.Models.Donor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.donateAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donateAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
